style.css
* {
  box-sizing: border-box;
}

/*-Desktop styles-*/
body {
  background-color: red; /*RGB(110, 77,143);*/
  font-size: 16px;
  font-family: Helvetica;
  line-height:1.5;
  display: flex;
  justify-content: center;
}

.container {
  max-width:1600px;/*laptop screensize*/
  background-color:#708EA4;/*chosen randomly*/
  display:flex;
  flex-flow:column nowrap;
  margin:0;
}

header {
  display: inline-flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  /*width:100%; test*/
  padding:1rem 0;
  background-color: white;


}

.logo {
  display:inline-flex;
  padding-left: 1.5rem;
  border:1px solid red;/*for debugging*/
}
.logo_mobile{
  display:none;
}
@media only screen and (max-width:730px){/*mobile @media*/
  .logo, .nav{
    display:none;
  }
  .logo_mobile{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:0 2rem;
  }
}/* end of mobile @media*/

.logo h1 {
  padding-bottom:0.5rem;
  font-size: 2rem;
  text-decoration: uppercase;
  color:grey;
}
.logo h1 span {
  color:black;
}

.nav {
  padding-right:1rem;

}

.nav ul {
  display: inline-flex;

  border:1px solid green;/*for debugging*/
}
.nav ul a {
  padding-left: 1rem;
  text-decoration: none;
}

/*  End of HEADER  */
.banner {
  background-color: inherit;
}

.content {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 2rem 0;
}
.advert {
  width:60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border:1px solid red;/*for debugging*/

}
.advert img{
  display:block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 650px;
}
.button {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 30%;
  padding-right: 5%;
  border:1px solid white;/*for debugging*/

}
.button h1{
  text-decoration: uppercase;
  font-weight: 800;
  font-size:2.5rem;/*chosen at random*/
  /*width:40%;*/
  /*padding-right: 3rem;/*chosen at random*/
  border:1px solid red;/*for debugging*/
}
.button p{
  font-weight: 600;
  font-size: 1.5rem;
  border:1px solid green;/*for debugging*/
}
.button a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.75rem 0;
  width:100%;
  background-color: grey;
}
@media only screen and (max-width:730px){/*(max-width:480px){/*mobile @media*/
  .banner{
    margin:0 auto;
  }
  .content{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    max-width: 480px;
  }
  .advert{
    display: block;
    max-height:35%;
    width:auto;
    margin:0;
  }
  .button{
    display:flex;
    flex:stretch;
    width:100%;
    padding:2rem 1rem;
  }
  .button h1{
    padding-left: 1rem;
  }
  .button p{
    padding:2rem 1rem;
  }
}/* end of mobile @media*/
/* ------- END of banner --------- */
.info {
  background-color: white;
  flex-direction: row;
  overflow: hidden;/*could possibly remove at end*/
}

.articles {
  display:inline-flex;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main_article {
  padding: 0 1.5rem;
  border:1px solid blue;/*for debugging*/
  width: 60%;

}

.info_main {
  width:100%;
  display:block;
  border:1px solid red;/*for debugging*/
}
.info_main img{
  max-height: 650px;
  display: block;
  width:100%;
}
.practicing {
  border:1px solid green;/*for debugging*/
  width:100%;
  display: flex;
  flex-direction: column;
  align-items:stretch;

}
.practicing h2 {
  padding: 2rem 0;
  text-decoration: uppercase;
  font-weight:bold;
  font-size: 2rem;
}
.practicing blockquote {
  font-style: italic;
  font-size: 1rem;
}
.practicing cite {
  font-style: italic;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.minor_articles {
  border:1px solid black;/*for debugging*/
  width:40%;
  flex-flow:column wrap;
  display: inline-block;/*testing*/
  /*flex-direction: row;testing*/

}
.minor_articles a{
  display:block;
  width:100%;
  background-color:yellow;/*for debugging*/
  color: blue;
  text-decoration: none;
  padding: 1rem 0;
  text-align: center;
  border-radius: 5%;

}
.minor_articles p{
  font-weight: 600;
  font-size: 1.5rem;
}
.minor_1,
.minor_2,
.minor_3{
  display:flex;/*block;*/
  width:100%;/*testing*/
  height:33%;
  background-color: red;
  overflow:hidden;
  border:1px solid yellow;/*for debugging*/
  align-items: center;
}
.info_orientation,
.info_campus,
.info_guest_lecture{
  display:flex;
  flex-flow: column wrap;
  padding: 1rem 1rem;
  max-width:35%;
  height:auto;
}

.info_main img,
.info_campus img,
.info_guest_lecture img{
  width:100%;
  display: block;
}

.container_1,
.container_2,
.container_3{
  border:1px solid red;/*for debugging*/
  justify-content: center;
  width:100%;
}

@media only screen and (max-width:730px){
  .articles{
    padding:0;
    }.main_article{
    display:none;
  }
  .minor_articles{
    width:100%;
  }
}/*responsive design transition to mobile */

@media only screen and (max-width:480px){/* info mobile @media*/
  .main_article{
    display:none;
  }
  .minor_articles{
    width:auto;
  }
  .minor_1{
    display:flex;
    flex-direction: column;
    height:auto;
  }
  .info.orientation{
    display:block;
    width:100%;
  }
  .minor_1 img{
    display:block;
    width:100%;
    border: 1px white solid;/*for debugging*/
  }
  .container_1{
    width:90%;
    padding-top:2rem;
    padding-left: 1rem;
    padding-bottom:4rem;
  }
}/* end of info mobile @media*/
/* -------end of info --- */
.courses{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.courses h2{
  padding-top: 2rem;
  width:100%;
  text-align: center;

  font-size: 2rem;
  font-weight: 600;
}
.subjects{
  display:flex;
  flex-flow: row wrap;
  align-items: stretch;
  border:1px solid white;/*for debugging*/
  justify-content: space-between;/*blocked by calc width*/

  margin:1rem 3.5rem 1rem 3.5rem;

  /*padding-top: 1rem;
  margin:0 3.5rem 1rem 3.5rem;*/
}
.subject_container{
  width: calc(100%/3.34);
  background-color: white;
  margin:1rem 1rem;/* changed to 1rem0;*/
  border:1px solid black;/*for debugging*/

}
.course_software img,
.computer_art img,
.course_design img,
.course_data img,
.business img,
.marketing img{
  width:100%;
  display: block;
}
.subject_1,
.subject_2,
.subject_3,
.subject_4,
.subject_5,
.subject_6 {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  color:grey;
}
.subject_1 h3,
.subject_2 h3,
.subject_3 h3,
.subject_4 h3,
.subject_5 h3,
.subject_6 h3{
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
  color:black;
}
.subject_1 p,
.subject_2 p,
.subject_3 p,
.subject_4 p,
.subject_5 p,
.subject_6 p {
  text-transform: uppercase;
  padding: 0.5rem 0;
}
@media only screen and (max-width:1130px) and (min-width:730px){/*could be 720*/
  .courses h2{
    padding-bottom: 0.5rem;
  }
  .subjects{
    flex-direction:row wrap;
    justify-content: space-around;
    margin: 0;
    padding:0 0;
  }
  .subject_container{
    margin:0;
  }
}
@media only screen and (max-width:729px){/*could be 719*/
  .subjects{
    flex-direction:column;
    margin: 0 5%;
  }
  .subject_container{
    width:auto;
    margin:0 0 0.5rem 0;
    /*padding-top: 0.5rem;*/
  }
  .course_software img,
  .computer_art img,
  .course_design img,
  .course_data img,
  .business img,
  .marketing img{
    display: none;
  }

  .subject_1,
  .subject_2 ,
  .subject_3 ,
  .subject_4 ,
  .subject_5 ,
  .subject_6{
    padding:0 1rem;
  }
  .subject_1 p,
  .subject_2 p,
  .subject_3 p,
  .subject_4 p,
  .subject_5 p,
  .subject_6 p{
    display:none;
  }
  .subject_1 span,
  .subject_2 span,
  .subject_3 span,
  .subject_4 span,
  .subject_5 span,
  .subject_6 span{
    display:none;
  }
  .subject_1 h3,
  .subject_2 h3,
  .subject_3 h3,
  .subject_4 h3,
  .subject_5 h3,
  .subject_6 h3{
    font-weight: 600;
    font-size: 1.75rem;
    background-color: inherit;/*change this*/
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
/*----------- End of Subjects -----*/
.exhibit {
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.exhibit h2{
  padding: 2rem 0;
  width:100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.exhibit_container{
  display:flex;
  flex-flow: row nowrap;
}
.thesis {
  width:60%;
}
.thesis video{
  display:block;
  width:100%;
}
.reimagine {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items:stretch;

}
.reimagine h2 {
  padding: 1.5rem 0 0.5rem 0;
  text-decoration: uppercase;
  font-weight:600;
  font-size: 1.5rem;
}
.reimagine blockquote {
  font-style: italic;
  font-size: 1rem;
  padding-bottom:2rem;
}

.minor_exhibit{
  width:40%;
  border:1px solid black;/*for debugging*/
}
.exhibit_1,
.exhibit_2{
  display:flex;
  width:100%;
  /*height:calc(100%/3);*/
  align-items:center;
  border:1px solid blue;/*for debugging*/
  color:grey;
}
.exhibit_wrapper{
  display: flex;
  flex-flow:column wrap;
  max-width: 35%;
  height:auto;
  margin:1rem 0 1rem 1rem;
  border:1px solid brown;/*for debugging*/
}
.exhibit_wrapper img{
  display: block;
  width:100%;
  justify-content: center;
  align-content: center;
  border:1px solid black;/*for debugging*/
}

.topic{
  width:55%;
  overflow: hidden;
  border:1px solid green;/*for debugging*/
}
.topic p{
  font-size: 1.5rem;
  font-weight: 600;
  color:black;
}
@media only screen and (max-width:730px) and (min-width:481px){
  .minor_exhibit{
    display:none;
  }
  .thesis{
    width:100%;
  }
}/*responsive transition*/

@media only screen and (max-width:480px){
  .minor_exhibit{
    display:none;
  }
  .reimagine{
    display:none;
  }
  .thesis{
    width:100%;
  }
}/*end of exhibit mobile */
/* ---- End of exhibit ---------*/
footer{
  display:flex;
  justify-content: space-between;
  font-size: 1rem;
  padding:1rem 1.5rem 3rem 1.5rem;
  background-color: white;/*match header*/
  color: grey;
  border:1px solid blue;/*for debugging*/
}
.terms li{
  display: inline;
  padding-left:1rem;
}
footer a{
  text-decoration: none;
}


/*-------mobile styles----*/
@media only screen and (max-width:480px){/*debugging can be removed*/
  body{
    background-color: green;
  }
}
@media only screen and (max-width:610px){
  .terms{
    display:none;
  }
  footer span{
    margin:0 auto;
  }
  footer{
    padding-bottom: 1rem;
  }

}

/*-------tablet styles----*/
@media only screen and (min-width:481px) and (max-width:960px){/*debugging
  can be removed*/
  body{
    background-color: blue;
  }
}
