style.css
* {
  box-sizing: border-box;
}

/*-Desktop styles-*/
body {
  background-color: red; /*RGB(110, 77,143);*/
}


/*-------mobile styles----*/
@media only screen and (max-width:480px){
  body{
    background-color: green;
  }
}


/*-------tablet styles----*/
@media only screen and (min-width:481px) and (max-width:960px){
  body{
    background-color: blue;
  }
}
